In [1]:


import requests
import pandas as pd

url = 'https://api.citybik.es/v2/networks'
response = requests.get(url)
data = response.json()

london_stations = []

# Find the London network
for network in data['networks']:
    if network['location']['city'] == 'London' and network['location']['country'] == 'GB':
        london_network = network

In [3]:
network_id = london_network['id']
network_url = f'https://api.citybik.es/v2/networks/{network_id}'
network_response = requests.get(network_url)
network_data = network_response.json()

bike_stations = network_data['network']['stations']

In [4]:
# Create DataFrame from the parsed results
df = pd.DataFrame(bike_stations)

# Drop unnecessary columns
df1 = df.drop(columns=['extra', 'timestamp'])

# Rename remaining columns
bike_stations = df1.rename(columns={
    'name' : 'bike_station', 
    'id' : 'bike_id'})

bike_stations.head(5)

,empty_slots,free_bikes,bike_id,latitude,longitude,bike_station
0,0,17,7f3020118e56165ed8b2f61899edb971,51.529163,-0.109971,"001023 - River Street , Clerkenwell"
1,19,17,67e6c16bce05410ba4b1f0f5000726ea,51.499607,-0.197574,"001018 - Phillimore Gardens, Kensington"
2,5,12,26184215d38089fcad213ef222e69780,51.505974,-0.092754,"001024 - Park Street, Bankside"
3,3,21,1eabd7ac8e781befd03f52ef56a18aa7,51.523951,-0.122502,"001022 - Brunswick Square, Bloomsbury"
4,38,9,23efb32f80a9dcd0e4f61fb44b353ce1,51.521681,-0.130432,"000980 - Malet Street, Bloomsbury"